<div class="d-flex">
    <div class="col-6">
        <h3>Key</h3>
        <pre>
            <%=keyData%>
        </pre>
        <a href="/certificates/<%=caKey%>">download CA Key</a>
    </div>
    <div class="col-6">
        <h3>Chứng thực</h3>
        <pre>
            <%=certificateData%>
        </pre>
        <a href="/certificates/<%=caKey%>.csr">download CA Certificate</a>
    </div>
</div>